*{
  background-color: rgb(102, 30, 120);
  text-align: center;
}

.searchbox{
  background-color: rgb(191, 154, 195);
  margin-bottom: 20px;
}

.city{
  font-size: 25px;
  color: white;
  font-weight: normal;
}

.date{
  color: white;
  font-weight: lighter;
}

.temp{
  color: white;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.weather{
  color: white;
  font-weight: bold;
  font-size: large;

}

.hi-low{
  color: white;
  margin-top: 10px;

}